<a href="https://colab.research.google.com/github/michalis0/BigScaleAnalytics/blob/master/week4/elasticsearch_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Querying Elastic Search engine with elasticsearch-dsl python package

In this week we will try to send queirs to elastic search engine with Python. We will use the [elasticsearch-dsl](https://elasticsearch-dsl.readthedocs.io/en/latest/index.html) package which is a high-level library whose aim is to help with writing and running queries against Elasticsearch. It is built on top of the official low-level client (elasticsearch-py).

It provides a more convenient and idiomatic way to write and manipulate queries. It stays close to the Elasticsearch JSON DSL, mirroring its terminology and structure.

In [1]:
import pandas as pd
import requests

In [2]:
!pip install elasticsearch-dsl

Collecting elasticsearch-dsl
  Downloading elasticsearch_dsl-7.4.0-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.2 MB/s
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from elasticsearch-dsl) (2.8.2)
Collecting elasticsearch<8.0.0,>=7.0.0
  Downloading elasticsearch-7.17.1-py2.py3-none-any.whl (385 kB)
     |████████████████████████████████| 385 kB 5.4 MB/s
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from elasticsearch-dsl) (1.15.0)
Requirement already satisfied: urllib3<2,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from elasticsearch<8.0.0,>=7.0.0->elasticsearch-dsl) (1.24.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from elasticsearch<8.0.0,>=7.0.0->elasticsearch-dsl) (2021.10.8)
Installing collected packages: elasticsearch, elasticsearch-dsl
Successfully installed elasticsearch-7.17.1 elasticsearch-dsl-7.4.0

In [10]:
import elasticsearch_dsl
from elasticsearch_dsl import connections
from elasticsearch import Elasticsearch

In both code cells below, replace the URL ("https..:9243") and the password ("zMJcA6De12xdU8OiVmOtDCu4") with information from your own deployment.

You can get the endpoint URL by going to your deployment's configuration > Elasticsearch > Copy endpoint. For the password, you should have downloaded a JSON credentials file when you first set up your deployment. If you don't have that file anymore, you can reset the password under the "Security" section of the configuration page.

In [9]:
# connecting to your elastic search deployment
# for the first entry between '' go to Elasticsearch Service > Deployment management> Copy Elasticsearch endpoint if your deployment
# your will need to use the authentication credentials from when you set up your deployment in http_auth
client = Elasticsearch('https://bsa-test.es.us-west1.gcp.cloud.es.io:9243',
                      http_auth=('elastic','Jhm50mNIu8GAoCv9ojUHIq'))

Below you can find a few examples of simple queries using the Kibana ecommerce sample data.

In [28]:
# search for all tags related to customer_id 38
# set index to the name under which you uploaded your data in your deployment
s = Search(using=client, index="kibana_sample_data_ecommerce").query("match", customer_id="38")
response = s.execute()

In [29]:
response

<Response: [<Hit(kibana_sample_data_ecommerce/F7EqjX8BzongW-35g9-Q): {'category': ["Men's Clothing"], 'currency': 'EUR', 'custome...}>, <Hit(kibana_sample_data_ecommerce/G7EqjX8BzongW-35g9-Q): {'category': ["Men's Clothing", "Men's Accessories"], 'curre...}>, <Hit(kibana_sample_data_ecommerce/IrEqjX8BzongW-35g9-Q): {'category': ["Men's Accessories", "Men's Clothing"], 'curre...}>, <Hit(kibana_sample_data_ecommerce/JLEqjX8BzongW-35g9-Q): {'category': ["Men's Clothing"], 'currency': 'EUR', 'custome...}>, <Hit(kibana_sample_data_ecommerce/5bEqjX8BzongW-35g9-Q): {'category': ["Men's Clothing"], 'currency': 'EUR', 'custome...}>, <Hit(kibana_sample_data_ecommerce/6rEqjX8BzongW-35g9-R): {'category': ["Men's Clothing", "Men's Shoes"], 'currency': ...}>, <Hit(kibana_sample_data_ecommerce/BLEqjX8BzongW-35g-CR): {'category': ["Men's Clothing"], 'currency': 'EUR', 'custome...}>, <Hit(kibana_sample_data_ecommerce/KbEqjX8BzongW-35g-CR): {'category': ["Men's Clothing", "Women's Accessories"], 'cur...}>, <Hit(kibana_sample_data_ecommerce/UrEqjX8BzongW-35g-CR): {'category': ["Men's Accessories", "Men's Clothing"], 'curre...}>, <Hit(kibana_sample_data_ecommerce/i7EqjX8BzongW-35g-CR): {'category': ["Men's Shoes"], 'currency': 'EUR', 'customer_f...}>]>

In [30]:
print(s.to_dict())

{'query': {'match': {'customer_id': '38'}}}

In [31]:
df = []
for h in response.hits.hits:
    df.append(h["_source"].to_dict())

In [37]:
# this is how you retrieve the number of hits returned by the query
response.hits.total.value

100

In [15]:
# this is how you retrieve the first 10 entries that correspond to the query
pd.DataFrame(df)

,category,currency,customer_first_name,customer_full_name,customer_gender,customer_id,customer_last_name,customer_phone,day_of_week,day_of_week_i,...,products,sku,taxful_total_price,taxless_total_price,total_quantity,total_unique_products,type,user,geoip,event
0,[Men's Clothing],EUR,Eddie,Eddie Underwood,MALE,38,Underwood,,Monday,0,...,"[{'base_price': 11.99, 'discount_percentage': ...","[ZO0549605496, ZO0299602996]",36.98,36.98,2,2,order,eddie,"{'country_iso_code': 'EG', 'location': {'lon':...",{'dataset': 'sample_ecommerce'}
1,"[Men's Clothing, Men's Accessories]",EUR,Eddie,Eddie Weber,MALE,38,Weber,,Monday,0,...,"[{'base_price': 59.99, 'discount_percentage': ...","[ZO0542505425, ZO0601306013]",80.98,80.98,2,2,order,eddie,"{'country_iso_code': 'EG', 'location': {'lon':...",{'dataset': 'sample_ecommerce'}
2,"[Men's Accessories, Men's Clothing]",EUR,Eddie,Eddie Gregory,MALE,38,Gregory,,Tuesday,1,...,"[{'base_price': 17.99, 'discount_percentage': ...","[ZO0700707007, ZO0459704597, ZO0293702937, ZO0...",68.96,68.96,4,4,order,eddie,"{'country_iso_code': 'EG', 'location': {'lon':...",{'dataset': 'sample_ecommerce'}
3,[Men's Clothing],EUR,Eddie,Eddie Wolfe,MALE,38,Wolfe,,Monday,0,...,"[{'base_price': 28.99, 'discount_percentage': ...","[ZO0590205902, ZO0291402914, ZO0297002970, ZO0...",266.96,266.96,4,4,order,eddie,"{'country_iso_code': 'EG', 'location': {'lon':...",{'dataset': 'sample_ecommerce'}
4,[Men's Clothing],EUR,Eddie,Eddie Simpson,MALE,38,Simpson,,Sunday,6,...,"[{'base_price': 28.99, 'discount_percentage': ...","[ZO0421804218, ZO0435704357]",39.98,39.98,2,2,order,eddie,"{'country_iso_code': 'EG', 'location': {'lon':...",{'dataset': 'sample_ecommerce'}
5,"[Men's Clothing, Men's Shoes]",EUR,Eddie,Eddie Riley,MALE,38,Riley,,Thursday,3,...,"[{'base_price': 74.99, 'discount_percentage': ...","[ZO0623206232, ZO0612506125, ZO0517405174, ZO0...",149.96,149.96,4,4,order,eddie,"{'country_iso_code': 'EG', 'location': {'lon':...",{'dataset': 'sample_ecommerce'}
6,[Men's Clothing],EUR,Eddie,Eddie Graham,MALE,38,Graham,,Thursday,3,...,"[{'base_price': 21.99, 'discount_percentage': ...","[ZO0449604496, ZO0287802878, ZO0526105261, ZO0...",99.96,99.96,4,4,order,eddie,"{'country_iso_code': 'EG', 'location': {'lon':...",{'dataset': 'sample_ecommerce'}
7,"[Men's Clothing, Women's Accessories]",EUR,Eddie,Eddie Clayton,MALE,38,Clayton,,Wednesday,2,...,"[{'base_price': 22.99, 'discount_percentage': ...","[ZO0279602796, ZO0605006050]",41.98,41.98,2,2,order,eddie,"{'country_iso_code': 'EG', 'location': {'lon':...",{'dataset': 'sample_ecommerce'}
8,"[Men's Accessories, Men's Clothing]",EUR,Eddie,Eddie Riley,MALE,38,Riley,,Sunday,6,...,"[{'base_price': 24.99, 'discount_percentage': ...","[ZO0606706067, ZO0118301183]",39.98,39.98,2,2,order,eddie,"{'country_iso_code': 'EG', 'location': {'lon':...",{'dataset': 'sample_ecommerce'}
9,[Men's Shoes],EUR,Eddie,Eddie Garza,MALE,38,Garza,,Friday,4,...,"[{'base_price': 84.99, 'discount_percentage': ...","[ZO0689906899, ZO0395903959]",134.98,134.98,2,2,order,eddie,"{'country_iso_code': 'EG', 'location': {'lon':...",{'dataset': 'sample_ecommerce'}

#### Combining queries

In [39]:
q = Q("match", customer_gender="FEMALE") | Q("match", category="shoes")

s = Search(using=client, index="kibana_sample_data_ecommerce").query(q)
response = s.execute()

In [40]:
s.to_dict()

{'query': {'bool': {'should': [{'match': {'customer_gender': 'FEMALE'}},
    {'match': {'category': 'shoes'}}]}}}

In [41]:
response.hits.total.value

3354

In [18]:
df = []
for h in response.hits.hits:
    df.append(h["_source"].to_dict())
    
pd.DataFrame(df)

,category,currency,customer_first_name,customer_full_name,customer_gender,customer_id,customer_last_name,customer_phone,day_of_week,day_of_week_i,...,products,sku,taxful_total_price,taxless_total_price,total_quantity,total_unique_products,type,user,geoip,event
0,[Women's Shoes],EUR,Brigitte,Brigitte King,FEMALE,12,King,,Thursday,3,...,"[{'base_price': 32.99, 'discount_percentage': ...","[ZO0216402164, ZO0666306663]",97.98,97.98,2,2,order,brigitte,"{'country_iso_code': 'US', 'location': {'lon':...",{'dataset': 'sample_ecommerce'}
1,[Women's Shoes],EUR,Elyssa,Elyssa Graves,FEMALE,27,Graves,,Thursday,3,...,"[{'base_price': 32.99, 'discount_percentage': ...","[ZO0242002420, ZO0246102461]",92.98,92.98,2,2,order,elyssa,"{'country_iso_code': 'US', 'location': {'lon':...",{'dataset': 'sample_ecommerce'}
2,[Women's Shoes],EUR,Selena,Selena Lewis,FEMALE,42,Lewis,,Tuesday,1,...,"[{'base_price': 64.99, 'discount_percentage': ...","[ZO0322803228, ZO0002700027]",89.98,89.98,2,2,order,selena,"{'country_iso_code': 'MA', 'location': {'lon':...",{'dataset': 'sample_ecommerce'}
3,[Women's Shoes],EUR,Pia,Pia Hayes,FEMALE,45,Hayes,,Thursday,3,...,"[{'base_price': 74.99, 'discount_percentage': ...","[ZO0248802488, ZO0133201332]",100.98,100.98,2,2,order,pia,"{'country_iso_code': 'FR', 'location': {'lon':...",{'dataset': 'sample_ecommerce'}
4,[Women's Shoes],EUR,Clarice,Clarice Hardy,FEMALE,18,Hardy,,Friday,4,...,"[{'base_price': 49.99, 'discount_percentage': ...","[ZO0242802428, ZO0674306743]",124.98,124.98,2,2,order,clarice,"{'country_iso_code': 'GB', 'location': {'lon':...",{'dataset': 'sample_ecommerce'}
5,[Women's Shoes],EUR,Betty,Betty Franklin,FEMALE,44,Franklin,,Wednesday,2,...,"[{'base_price': 32.99, 'discount_percentage': ...","[ZO0023800238, ZO0251002510]",97.98,97.98,2,2,order,betty,"{'country_iso_code': 'US', 'location': {'lon':...",{'dataset': 'sample_ecommerce'}
6,[Women's Shoes],EUR,Rabbia Al,Rabbia Al Henderson,FEMALE,5,Henderson,,Friday,4,...,"[{'base_price': 41.99, 'discount_percentage': ...","[ZO0371303713, ZO0030600306]",66.98,66.98,2,2,order,rabbia,"{'country_iso_code': 'AE', 'location': {'lon':...",{'dataset': 'sample_ecommerce'}
7,[Women's Shoes],EUR,Rabbia Al,Rabbia Al Jensen,FEMALE,5,Jensen,,Friday,4,...,"[{'base_price': 32.99, 'discount_percentage': ...","[ZO0024300243, ZO0015300153]",74.98,74.98,2,2,order,rabbia,"{'country_iso_code': 'AE', 'location': {'lon':...",{'dataset': 'sample_ecommerce'}
8,[Women's Shoes],EUR,Clarice,Clarice Baker,FEMALE,18,Baker,,Wednesday,2,...,"[{'base_price': 24.99, 'discount_percentage': ...","[ZO0009900099, ZO0252202522]",109.98,109.98,2,2,order,clarice,"{'country_iso_code': 'GB', 'location': {'lon':...",{'dataset': 'sample_ecommerce'}
9,[Women's Shoes],EUR,Elyssa,Elyssa Dixon,FEMALE,27,Dixon,,Thursday,3,...,"[{'base_price': 74.99, 'discount_percentage': ...","[ZO0250102501, ZO0676606766]",154.98,154.98,2,2,order,elyssa,"{'country_iso_code': 'US', 'location': {'lon':...",{'dataset': 'sample_ecommerce'}

#### Filtering 
As opposed to `match` filtering aims to answer the question "how does the record match the query clause?", so the answer is a simple yes or no and there is no score involved (https://www.elastic.co/guide/en/elasticsearch/reference/2.0/query-filter-context.html).

In [19]:
s = Search(using=client, index='kibana_sample_data_ecommerce').filter('terms', day_of_week=['Tuesday', 'Thursday'])
response = s.execute()

In [20]:
s.to_dict()

{'query': {'bool': {'filter': [{'terms': {'day_of_week': ['Tuesday',
       'Thursday']}}]}}}

In [21]:
df = []
for h in response.hits.hits:
    df.append(h["_source"].to_dict())
    
pd.DataFrame(df)

,category,currency,customer_first_name,customer_full_name,customer_gender,customer_id,customer_last_name,customer_phone,day_of_week,day_of_week_i,...,products,sku,taxful_total_price,taxless_total_price,total_quantity,total_unique_products,type,user,geoip,event
0,"[Men's Accessories, Men's Clothing]",EUR,Eddie,Eddie Gregory,MALE,38,Gregory,,Tuesday,1,...,"[{'base_price': 17.99, 'discount_percentage': ...","[ZO0700707007, ZO0459704597, ZO0293702937, ZO0...",68.96,68.96,4,4,order,eddie,"{'country_iso_code': 'EG', 'location': {'lon':...",{'dataset': 'sample_ecommerce'}
1,"[Men's Clothing, Men's Shoes, Women's Accessor...",EUR,Sultan Al,Sultan Al Thompson,MALE,19,Thompson,,Tuesday,1,...,"[{'base_price': 32.99, 'discount_percentage': ...","[ZO0125301253, ZO0507105071, ZO0428704287, ZO0...",174.96,174.96,4,4,order,sultan,"{'country_iso_code': 'AE', 'location': {'lon':...",{'dataset': 'sample_ecommerce'}
2,"[Men's Clothing, Men's Shoes]",EUR,George,George Hubbard,MALE,32,Hubbard,,Thursday,3,...,"[{'base_price': 16.99, 'discount_percentage': ...","[ZO0580905809, ZO0507105071]",41.98,41.98,2,2,order,george,"{'country_iso_code': 'GB', 'location': {'lon':...",{'dataset': 'sample_ecommerce'}
3,[Men's Clothing],EUR,Yahya,Yahya Rivera,MALE,23,Rivera,,Tuesday,1,...,"[{'base_price': 24.99, 'discount_percentage': ...","[ZO0457304573, ZO0562905629]",37.98,37.98,2,2,order,yahya,"{'country_iso_code': 'MA', 'location': {'lon':...",{'dataset': 'sample_ecommerce'}
4,"[Women's Clothing, Women's Accessories]",EUR,Brigitte,Brigitte Morris,FEMALE,12,Morris,,Tuesday,1,...,"[{'base_price': 59.99, 'discount_percentage': ...","[ZO0353103531, ZO0079500795]",74.98,74.98,2,2,order,brigitte,"{'country_iso_code': 'US', 'location': {'lon':...",{'dataset': 'sample_ecommerce'}
5,"[Women's Shoes, Women's Accessories]",EUR,rania,rania Padilla,FEMALE,24,Padilla,,Thursday,3,...,"[{'base_price': 41.99, 'discount_percentage': ...","[ZO0141301413, ZO0209102091]",55.98,55.98,2,2,order,rani,"{'country_iso_code': 'EG', 'location': {'lon':...",{'dataset': 'sample_ecommerce'}
6,[Women's Clothing],EUR,Sonya,Sonya Foster,FEMALE,28,Foster,,Tuesday,1,...,"[{'base_price': 64.99, 'discount_percentage': ...","[ZO0652906529, ZO0104801048]",87.98,87.98,2,2,order,sonya,"{'country_iso_code': 'CO', 'location': {'lon':...",{'dataset': 'sample_ecommerce'}
7,[Women's Shoes],EUR,Brigitte,Brigitte King,FEMALE,12,King,,Thursday,3,...,"[{'base_price': 32.99, 'discount_percentage': ...","[ZO0216402164, ZO0666306663]",97.98,97.98,2,2,order,brigitte,"{'country_iso_code': 'US', 'location': {'lon':...",{'dataset': 'sample_ecommerce'}
8,[Men's Clothing],EUR,Kamal,Kamal Jenkins,MALE,39,Jenkins,,Thursday,3,...,"[{'base_price': 10.99, 'discount_percentage': ...","[ZO0474204742, ZO0574005740]",31.98,31.98,2,2,order,kamal,"{'country_iso_code': 'TR', 'location': {'lon':...",{'dataset': 'sample_ecommerce'}
9,[Men's Clothing],EUR,Muniz,Muniz Rivera,MALE,37,Rivera,,Thursday,3,...,"[{'base_price': 209.99, 'discount_percentage':...","[ZO0291602916, ZO0292302923]",221.98,221.98,2,2,order,muniz,"{'country_iso_code': 'MA', 'location': {'lon':...",{'dataset': 'sample_ecommerce'}

#### Aggregations

In [22]:
from elasticsearch_dsl import A

a = A('terms', field='customer_gender')

In [23]:
s = Search(using=client, index='kibana_sample_data_ecommerce')
s.aggs.bucket('gender', 'terms', field='customer_gender')\
    .metric('num_customers', 'value_count', field='customer_id')

Terms(aggs={'num_customers': ValueCount(field='customer_id')}, field='customer_gender')

In [24]:
s.to_dict()

{'aggs': {'gender': {'aggs': {'num_customers': {'value_count': {'field': 'customer_id'}}},
   'terms': {'field': 'customer_gender'}}}}

In [25]:
response = s.execute()

In [26]:
response.aggregations.to_dict()

{'gender': {'buckets': [{'doc_count': 2433,
    'key': 'FEMALE',
    'num_customers': {'value': 2433}},
   {'doc_count': 2242, 'key': 'MALE', 'num_customers': {'value': 2242}}],
  'doc_count_error_upper_bound': 0,
  'sum_other_doc_count': 0}}

In [27]:
df = []
for r in response.aggregations.gender.buckets:
    df.append(r.to_dict())
pd.DataFrame(df)

      key  doc_count    num_customers
0  FEMALE       2433  {'value': 2433}
1    MALE       2242  {'value': 2242}